<div class="container">
  <div *ngIf="formHasErrors" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> El formulario contiene campos incorrectos
    <button type="button" (click)="formHasErrors = false; validator.resetFormControls(form);"
      class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="isPasswordNotEqual" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Las contraseñas no son iguales
    <button type="button" (click)="isPasswordNotEqual = false;" class="btn-close" data-bs-dismiss="alert"
      aria-label="Close"></button>
  </div>

  <div *ngIf="status === 403" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> No tiene permisos para realizar esta operación
    <button type="button" (click)="status = 401;" class="btn-close" data-bs-dismiss="alert"
      aria-label="Close"></button>
  </div>

  <div class="row">
    <div class="d-flex justify-content-center"><a class="text-primary"><i class="fa fa-lock fa-5x"></i></a></div>
    <div class="d-flex justify-content-center"><p>Cambiar contraseña</p></div>
  </div>

  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="mb-3">
      <label for="username" class="form-label fw-bold">Usuario</label>
      <input type="text" [className]="validator.setControlClass(form.controls['username'], formHasErrors, 'text', 'form-control-sm')"
        placeholder="Nombre de usuario" formControlName="username">
    </div>

    <div class="mb-3">
      <label for="passwordNew" class="form-label fw-bold">Nueva contraseña</label>
      <input type="password" [className]="validator.setControlClass(form.controls['passwordNew'], formHasErrors, 'text', 'form-control-sm')" formControlName="passwordNew">
    </div>

    <div class="mb-3">
      <label for="passwordCon" class="form-label fw-bold">Confirmar Contraseña</label>
      <input type="password" [className]="validator.setControlClass(form.controls['passwordCon'], formHasErrors, 'text', 'form-control-sm')" formControlName="passwordCon">
    </div>

    <hr>
    <div  class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i> Aceptar</button>
        <button type="button" class="btn btn-outline-dark" (click)="closeForm()"> Cancelar</button>
    </div>
  </form>
</div>
